h1{
    color: burlywood;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size:280%;
}
h2{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
}

h3{
    color: brown;
    font-family: sans-serif;
    text-decoration-line:underline;
    font-size: 250%;
    
}
h4{
    color:rebeccapurple;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;

}
